In [2]:
import pandas as pd

In [14]:
## Ejemplo de formato wider a formato long; Creamos una datasetsito 

d = { 'pais': ['colombia', 'mexico', 'salvador'], '1999': [745, 37737, 212258], '2000': [2666, 80488, 213766]}
df = pd.DataFrame(d)
df

       pais    1999    2000
0  colombia     745    2666
1    mexico   37737   80488
2  salvador  212258  213766

In [20]:
#ejemplo 2 
tidy_df = df.melt(id_vars = ["pais"], var_name =["year"], value_name = "casos")

da = pd.DataFrame(tidy_df)

print(tidy_df)

       pais  year   casos
0  colombia  1999     745
1    mexico  1999   37737
2  salvador  1999  212258
3  colombia  2000    2666
4    mexico  2000   80488
5  salvador  2000  213766

In [23]:
#ejemplo 3
df_relinc = pd.read_csv( 'religion_income.csv')
df_relinc.head(11) #primeros 10 registros del dataset

,religion,<10k,10-20k,20-30k,30-40k,40-50k,50-75k,75-100k,100-150k,>150k,refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,refused,15,14,15,11,10,35,21,17,18,116
5,Evangelical Prot,575,869,1064,982,881,1486,949,723,414,1529
6,Hindu,1,9,7,9,11,34,47,48,54,37
7,Historically Black Prot,228,244,236,238,197,223,131,81,78,339
8,Jehovah's Witness,20,27,24,24,21,30,15,11,6,37
9,Jewish,19,19,25,25,30,95,69,87,151,162
10,Mainline Prot,289,495,619,655,651,1107,939,753,634,1328

In [26]:
religion_melted = df_relinc.melt(id_vars = ["religion"], var_name = ["rango de ingreso"], value_name = "frecuency")
religion_melted.head(30)

                   religion rango de ingreso  frecuency
0                  Agnostic             <10k         27
1                   Atheist             <10k         12
2                  Buddhist             <10k         27
3                  Catholic             <10k        418
4                   refused             <10k         15
5          Evangelical Prot             <10k        575
6                     Hindu             <10k          1
7   Historically Black Prot             <10k        228
8         Jehovah's Witness             <10k         20
9                    Jewish             <10k         19
10            Mainline Prot             <10k        289
11                   Mormon             <10k         29
12                   Muslim             <10k          6
13                 Orthodox             <10k         13
14          Other Christian             <10k          9
15             Other Faiths             <10k         20
16    Other World Religions             <10k          5
17             Unaffiliated             <10k        217
18                 Agnostic           10-20k         34
19                  Atheist           10-20k         27
20                 Buddhist           10-20k         21
21                 Catholic           10-20k        617
22                  refused           10-20k         14
23         Evangelical Prot           10-20k        869
24                    Hindu           10-20k          9
25  Historically Black Prot           10-20k        244
26        Jehovah's Witness           10-20k         27
27                   Jewish           10-20k         19
28            Mainline Prot           10-20k        495
29                   Mormon           10-20k         40

In [32]:
religion_melted[religion_melted["religion"] == "Atheist"] #Ver rango de ingreso de los ateos

    religion rango de ingreso  frecuency
1    Atheist             <10k         12
19   Atheist           10-20k         27
37   Atheist           20-30k         37
55   Atheist           30-40k         52
73   Atheist           40-50k         35
91   Atheist           50-75k         70
109  Atheist          75-100k         73
127  Atheist         100-150k         59
145  Atheist            >150k         74
163  Atheist          refused         76

In [33]:
religion_melted["religion"] == 'Atheist'

0      False
1       True
2      False
3      False
4      False
       ...
175    False
176    False
177    False
178    False
179    False
Name: religion, Length: 180, dtype: bool

## Ejemplo de formato long a formato wider

In [38]:
wider_to_long = pd.read_csv('wider.csv')
wider_to_long 
wider_to_long = wider_to_long.drop(columns = "Unnamed: 0")
wider_to_long

          pais  anio       tipo      cuenta
0   Afganistán  1999      casos         745
1   Afganistán  1999  población    19987071
2   Afganistán  2000      casos        2666
3   Afganistán  2000  población    20595360
4       Brasil  1999      casos       37737
5       Brasil  1999  población   172006362
6       Brasil  2000      casos       80488
7       Brasil  2000  población   174504898
8        China  1999      casos      212258
9        China  1999  población  1272915272
10       China  2000      casos      213766
11       China  2000  población  1280428583

In [40]:
#pasamos a formato wider 
wider_to_long.pivot_table(index = ["pais", "anio"], columns = "tipo", values = "cuenta").rename_axist(None, axis = 1)

AttributeError: 'DataFrame' object has no attribute 'rename_axist'